<div class="container mt-3">
  <h1>Agregar Producto</h1>
  <form action="/productos" method="post" class="container-md">
    <label for="nombre">Nombre:</label>
      <input type="text", name="nombre", id="nombre", class="form-control">
      <br>
    <label for="precio">Precio:</label>
      <input type="text", name="precio", id="precio", class="form-control">
      <br>
    <label for="nombre">Foto:</label>
      <input type="text", name="foto", id="foto", class="form-control">
      <br>
    <button type="submit", value="agregar", class="btn btn-success">Agregar</button>
    <br>
    <a href="/productos", class="text-success">Ver Productos</a>
  </form>
</div>