div(class="container mt-3")
  h1(class="alert alert-primary") Agregar Producto
  form(action="/productos", method="post", class="container-md")
    label(for="nombre") Nombre:
      input(type="text", name="nombre", id="nombre", class="form-control")
      br
    label(for="precio") Precio:
      input(type="number", name="precio", id="precio", class="form-control")
      br
    label(for="foto") Foto:
      input(type="text", name="foto", id="foto", class="form-control")
      br
    button(type="submit", value="agregar", class="btn btn-success") Agregar
    br
    
    a(href="/productos", class="text-success") Ver Productos