div(class="container mt-3")
  h1(class="text-primary") Historial
  if products.length > 0
    table(class="table table-dark")
      thead
        tr(class="text-warning")
          th(class="font-weight-bold") Nombre
          th(class="font-weight-bold") Precio
          th(class="font-weight-bold") Foto
      tbody
        if notFound
          tr(class="text-warning")
            td No se encontró este producto.
        else 
          each product in search
            tr
              td=product.nombre
              td=product.precio
              td
                picture
                  img(src=product.foto alt=product.nombre)
  else
    h3(class="alert alert-danger") No hay productos
    p Agrega un producto 
      a(href="/", class="text-danger") Aqui